<!--
*  - Responsive Admin Theme
* Version 2.3
*
-->

<!DOCTYPE html>
<html ng-app="AdminTerminal">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>

    <!-- Bootstrap -->
    <link href="../common/AdminCss/bootstrap.min.css" rel="stylesheet">

    <!-- Font awesome -->
    <link href="../common/AdminCss/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Main  CSS files -->
    <link href="../common/AdminCss/animate.css" rel="stylesheet">
    <link href="../common/AdminCss/open+sans.css" rel="stylesheet">
    <link href="../common/AdminCss/roboto.css" rel="stylesheet">
    <link href="../common/AdminCss/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link id="loadBefore" href="../common/AdminCss/style.css" rel="stylesheet">

</head>

<!-- ControllerAs syntax -->
<!-- Main controller with serveral data used in  theme on diferent view -->
<body ng-controller="MainCtrl" class="{{$state.current.data.specialClass}} mini-navbar" landing-scrollspy id="page-top">

<!-- Main view  -->
<div ui-view></div>

<!-- jQuery and Bootstrap -->
<script src="../common/plugins/jquery/jquery-2.1.1.min.js"></script>
<script src="../common/plugins/plugins/jquery-ui/jquery-ui.js"></script>
<script src="../common/plugins/bootstrap/bootstrap.min.js"></script>

<!-- MetsiMenu -->
<script src="../common/plugins/plugins/metisMenu/jquery.metisMenu.js"></script>

<!-- SlimScroll -->
<script src="../common/plugins/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Peace JS -->
<script src="../common/plugins/plugins/pace/pace.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/nonveg.js"></script>
    
<!-- Main Angular scripts-->
<script src="../common/plugins/angular/angular.min.js"></script>
<script src="../common/plugins/angular/angular-sanitize.js"></script>
<script src="../common/plugins/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="../common/plugins/angular-translate/angular-translate.min.js"></script>
<script src="../common/plugins/ui-router/angular-ui-router.min.js"></script>
<script src="../common/plugins/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="../common/plugins/plugins/angular-idle/angular-idle.js"></script>

<!--
 You need to include this script on any page that has a Google Map.
 When using Google Maps on your own site you MUST signup for your own API key at:
 https://developers.google.com/maps/documentation/javascript/tutorial#api_key
 After your sign up replace the key in the URL below..
-->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script> -->

<!-- Anglar App Script -->
<script src="js/app.js"></script>
<script src="js/config.js"></script>
<script src="js/translations.js"></script>
<script src="js/directives.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>

</body>
</html>
