<div class="inmodal">
	<div class="modal-header">
		<h4 class="modal-title">ATIBUTES SEO EDIT</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal form-bordered padder-t-b" name="AttributeSeoForm">
			<div class="form-group">
				<label class="col-sm-4 control-label">Seo Title</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						<input type="text" class="form-control" name="seoTitle" ng-model="AttributesEditData.seoTitle"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Seo Keywords</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						<input type="text" class="form-control" name="keywords" ng-model="AttributesEditData.seoKeywords" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Seo Description</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						<textarea type="text" class="form-control" name="metaDescription" ng-model="AttributesEditData.seoMetaDescription" ></textarea>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
		<button type="button" class="btn btn-primary" ng-click="AttributesSeoedit(AttributesEditData)">Save changes</button>
	</div>
</div>

