<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Attributes Creation</h2>
		<ol class="breadcrumb">
			<li>
				<a href="index.html">Home</a>
			</li>
			<li>
				<a href="#/Tags/AttributesTemplate">Attributes List</a>
			</li>
			<li class="active">
				<strong>Attributes Creation</strong>
			</li>
		</ol>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" style="padding: 12px 10px 22px;">
	<div class="row">
		<div class="col-lg-12" style="padding:0px;">
			<div class="ibox">
				<div class="ibox-content wizard" style="padding:12px 12px 10px 10px;">
					<div class="wizard">
						<div class="content">
							<form  class="form-horizontal"  method="get" id="attributesCreateForm"  name="AttributesForm">
								<div id="Attributeswizard">
									<ul class="nav nav-pills">
								  	<li class="active">
								  		<a data-target="#tab1" class="text-center" data-toggle="tab" aria-expanded="true">Attributes Creation</a>
								  	</li>
									</ul>
									<div class="tab-content">
									  <div class="tab-pane active" id="tab1">
									    <div class="form-group">
												<label class="control-label col-md-2">Attribute Name <span class="required">
												* </span>
												</label>
												<div class="col-md-4" ng-class="{'has-error':AttributesForm.attributeName.$invalid && !AttributesForm.attributeName.$pristine}">
													<input type="text" class="form-control" name="attributeName" ng-model="Attributes.attributeName" required="required"/>
												</div>
													<!-- <label class="control-label col-md-2">Status</label>
													<div class="col-lg-4">
														<select class="form-control select2_demo_2" name="type" ng-model="Attributes.status">
															<option value=""></option>
															<option>ACTIVE</option>
															<option>INACTIVE</option>
														</select>
													</div> -->
												 <!-- 	</div>
													<div class="form-group"> -->
													<label class="control-label col-md-2">Description <span class="required">
													* </span>
													</label>
													<div class="col-md-4" ng-class="{'has-error':AttributesForm.description.$invalid && !AttributesForm.description.$pristine}">
														<textarea type="text" class="form-control" name="" ng-model="Attributes.description" name="description" required="required"></textarea>
													</div>
												</div>
												<span class="col-lg-12" style="border-bottom:1px solid #E7E2E2;margin-bottom:10px;">Attributes SEO</span>
												<div class="form-group" style="margin-bottom:10px;">
													<label class="col-sm-2 control-label">SEO Title <span class="required"> * </span>
													</label>
													<div class="col-sm-4" ng-class="{'has-error':AttributesForm.seoTitle.$invalid && !AttributesForm.seoTitle.$pristine}">
														<input type="text"  class="form-control" name="seoTitle" ng-model="Attributes.seoTitle" name="seoTitle" value="" required="required"/>
													</div>
													<label class="col-sm-2 control-label">SEO Keyword<span class="required">
													* </span></label>
													<div class="col-sm-4" ng-class="{'has-error':AttributesForm.seoKeywords.$invalid && !AttributesForm.seoKeywords.$pristine}">
														<input type="text"  class="form-control"  name="seoKeywords" ng-model="Attributes.seoKeywords" value="" required="required"/>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label">SEO Description<span class="required">
													* </span></label>
													<div class="col-sm-4"  ng-class="{'has-error':AttributesForm.seoMetaDescription.$invalid && !AttributesForm.seoMetaDescription.$pristine}">
														<textarea type="text" class="form-control" name="seoMetaDescription" ng-model="Attributes.seoMetaDescription" value="" required="required"></textarea>
													</div>
												</div>
									  	</div>
											<ul class="pager wizard">
												<li class="pull-right m-r-sm"><a href="#/Tags/AttributesTemplate">CLOSE</a></li>
												<li class="confirm" ng-hide="confirm"><a ng-click="save(Attributes)">CONFIRM</a></li>
											</ul>
										</div>	
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<style>
#Attributeswizard >  ul > li{
	width: 100% !important;
}
label.error{
	display: block !important;
	margin-bottom: 0px !important
}
.tab-pane{
	padding: 10px;
}
.border{
	border: 1px solid #1ab394;
}
.tag-list li a{
	font-size: 15px;
}
</style>

<script>
$(".select2_demo_2").select2({
                placeholder: "SELECT A STATUS.....",
                allowClear: true
            });
</script>
